.react-calendar {
  width: 100% !important;
  padding: 4px;
  background-color: #fff !important;
  color: #222 !important;
  border-radius: 40px;
  /* border-color: white !important; */
  border: 0px 0px 30px 10px rgba(0, 0, 0, 0.3) !important;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  font-size: large;
  overflow: hidden;
}

.MuiBox-root .css-uwwqev {
  margin-top: 0 !important;
}

.makeStyles-modalBox-10 {
  padding-bottom: "100px" !important;
}

.css-1an72xi {
  box-shadow: none;
}

abbr[title] {
  text-decoration: none !important;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #f8f8fa !important;
}

.react-calendar__tile--now {
  background: #bfbfbf !important;
  font-weight: bold;
  color: #fff !important;
  border-radius: 16px;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #bbb9b9 !important;
  color: #fff !important;
}

.react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa !important;
}

.react-calendar__tile--active {
  background: #1c1c1c !important;
  border-radius: 40px;
  font-weight: bold;
  color: white !important;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1c1c1c !important;
  border-radius: 40px;
  color: white !important;
}

.MuiBox-root .css-1an72xi {
  box-shadow: none;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f3f3f3 !important;
  border-radius: 40px;
}

.react-calendar__tile--range {
  background: #f3f3f3 !important;
  color: #000 !important;
  border-radius: 0;
  border: none;
}

.react-calendar__tile--range:enabled:hover,
.react-calendar__tile--range:enabled:focus {
  background-color: #f3f3f3 !important;
  border-radius: 0;
  border: none;
}

.react-calendar__tile--rangeStart {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: #1c1c1c !important;
  color: white !important;
}

.css-uaa0jp {
  width: 100%;
}

.react-calendar__tile--rangeStart:enabled:hover,
.react-calendar__tile--rangeStart:enabled:focus {
  background: #1c1c1c !important;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: white !important;
}

.react-calendar__tile--rangeEnd {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: #1c1c1c !important;
  color: white !important;
}

.react-calendar__tile--rangeEnd:enabled:hover,
.react-calendar__tile--rangeEnd:enabled:focus {
  background: #1c1c1c !important;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: white !important;
}

.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd:enabled:hover,
.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd:enabled:focus,
.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.react-calendar__tile--rangeStart:not(
    .react-calendar__tile--rangeEnd
  ):enabled:hover,
.react-calendar__tile--rangeStart:not(
    .react-calendar__tile--rangeEnd
  ):enabled:focus {
  background: #1c1c1c !important;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: white !important;
}

.react-calendar__tile--rangeEnd:not(
    .react-calendar__tile--rangeStart
  ):enabled:hover,
.react-calendar__tile--rangeEnd:not(
    .react-calendar__tile--rangeStart
  ):enabled:focus {
  background: #1c1c1c !important;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: white !important;
}

.custom-scroll::-webkit-scrollbar {
  width: 7px !important;
  background-color: #cecece !important;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  background-color: #cecece !important;
}

.custom-scroll::-webkit-scrollbar-track {
  background-color: #f8f8fa !important;
  border-radius: 10px !important;
}

.abbr[title] {
  text-decoration: none !important;
}

.css-19yy3e5-MuiTypography-root {
  margin-bottom: 0 !important;
}

.css-uwwqev {
  height: auto !important;
}

.scroll-item-tracking {
  height: 20vh !important;
  overflow-y: scroll !important;
  scrollbar-width: none;
}

.card-custom-id {
  width: auto !important;
}

/* Tablet */

/* Mobile */

.font-payslip-dsadvcxd {
  font-size: larger;
  color: gray;
}

/* Tablet & Mobile */
/* Payslip Item */
.css-w0kdxw {
  height: 52vh !important;
}

.left-item {
  display: flex;
  align-items: center;
  font-size: medium;
  color: "#808080";
}

.main-item {
  display: flex;
  align-items: center;
}

.right-item {
  font-size: medium;
  color: "#808080";
  padding-left: 30;
  font-weight: 800;
}
