.react-calendar {
  width: 100% !important;
  /* max-width: 720px !important;
  min-width: 360px !important; */
  padding: 10px;
  background-color: #fff !important;
  color: #222 !important;
  border-radius: 40px;
  border-color: white !important;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2) !important;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  font-size: large;
}

.MuiBox-root .css-uwwqev {
  margin-top: 0 !important;
}

.makeStyles-modalBox-10 {
  padding-bottom: "100px" !important;
}

.css-1an72xi {
  box-shadow: none;
}

abbr[title] {
  text-decoration: none !important;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #f8f8fa !important;
}

.react-calendar__tile--now {
  background: #bfbfbf !important;
  font-weight: bold;
  color: #fff !important;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #bbb9b9 !important;
  color: #fff !important;
}

.react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa !important;
}

.react-calendar__tile--active {
  background: #1c1c1c !important;
  border-radius: 40px;
  font-weight: bold;
  color: white !important;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1c1c1c !important;
  border-radius: 40px;
  color: white !important;
}

.MuiBox-root .css-1an72xi {
  box-shadow: none;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f3f3f3 !important;
  border-radius: 40px;
}

.react-calendar__tile--range {
  background: #f3f3f3 !important;
  color: #000 !important;
  border-radius: 0;
  border: none;
}

.react-calendar__tile--range:enabled:hover,
.react-calendar__tile--range:enabled:focus {
  background-color: #f3f3f3 !important;
  border-radius: 0;
  border: none;
}

.react-calendar__tile--rangeStart {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: #1c1c1c !important;
  color: white !important;
}

.css-uaa0jp {
  width: 100%;
}

.react-calendar__tile--rangeStart:enabled:hover,
.react-calendar__tile--rangeStart:enabled:focus {
  background: #1c1c1c !important;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: white !important;
}

.react-calendar__tile--rangeEnd {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: #1c1c1c !important;
  color: white !important;
}

.react-calendar__tile--rangeEnd:enabled:hover,
.react-calendar__tile--rangeEnd:enabled:focus {
  background: #1c1c1c !important;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: white !important;
}

.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd:enabled:hover,
.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd:enabled:focus,
.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.react-calendar__tile--rangeStart:not(
    .react-calendar__tile--rangeEnd
  ):enabled:hover,
.react-calendar__tile--rangeStart:not(
    .react-calendar__tile--rangeEnd
  ):enabled:focus {
  background: #1c1c1c !important;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: white !important;
}

.react-calendar__tile--rangeEnd:not(
    .react-calendar__tile--rangeStart
  ):enabled:hover,
.react-calendar__tile--rangeEnd:not(
    .react-calendar__tile--rangeStart
  ):enabled:focus {
  background: #1c1c1c !important;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: white !important;
}

.custom-scroll::-webkit-scrollbar {
  width: 7px !important;
  background-color: #cecece !important;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  background-color: #cecece !important;
}

.custom-scroll::-webkit-scrollbar-track {
  background-color: #f8f8fa !important;
  border-radius: 10px !important;
}

.abbr[title] {
  text-decoration: none !important;
}

.css-19yy3e5-MuiTypography-root {
  margin-bottom: 0 !important;
}

.css-uwwqev {
  height: auto !important;
}

.scroll-item-tracking {
  height: 20vh !important;
  overflow-y: scroll !important;
  scrollbar-width: none;
}

.card-custom-id {
  width: auto !important;
}

/* Tablet */
@media only screen and (min-width: 46.25em) and (max-width: 63.9327em) {
  .makeStyles-modalBox-10 .MuiBox-root {
    height: auto;
  }

  .css-1yqd3s6 {
    width: 90%;
  }

  .css-1uzxatu {
    width: "100%" !important;
  }
}

/* Mobile */
@media only screen and (max-width: 46.1875em) {
  .css-iint9g {
    margin-top: 48% !important;
  }

  /* main */
  .css-1yqd3s6 {
    height: max-content !important;
    width: max-content !important;
    padding-top: 0px !important;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    /* scrollbar-width: none;
    -ms-overflow-style: none; */
  }

  /* container full 3 box */
  .MuiBox-root .css-1ylo9ev {
    display: flex !important;
    flex-direction: row !important;
  }

  /* Container full 2 box right */
  .MuiBox-root .css-1stuxjx {
    display: flex !important;
    flex-direction: row !important;
  }

  /* Table button */
  .table-container {
  }

  /* payslips */

  .MuiBox-root .css-uwwqev {
    margin-top: 100% !important;
    padding-left: 6%;
  }

  .font-payslip-dsadvcxd {
    font-size: smaller !important;
    color: gray !important;
  }

  .css-uwwqev {
  }

  .css-uwwqev div {
    display: flex !important;
    /* flex-direction: column !important; */
  }

  .icon-rgtrv {
    display: none !important;
  }

  .table-detail-tracking {
    font-size: small;
  }

  .header-table-cvbna {
    font-size: smaller !important;
    font-weight: 600 !important;
  }

  .body-table-cdsana {
    font-size: small !important;
  }
}

.font-payslip-dsadvcxd {
  font-size: larger;
  color: gray;
}

/* Tablet & Mobile */
@media only screen and (max-width: 63.9327em) {
  /* main */
  .css-1yqd3s6 {
    height: 85% !important;
    width: 95% !important;
    padding-top: 0px !important;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  /* Header */

  .css-iint9g {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 24% !important;
  }

  .icon-close-id {
    height: 100% !important;
    background-color: "red" !important;
  }

  /* ==== */

  .MuiBox-root .css-uwwqev {
    margin-top: 4% !important;
    padding-left: 6%;
  }

  .css-1yqd3s6::-webkit-scrollbar {
    display: none;
  }

  .css-1uzxatu {
    width: 100% !important;
  }

  .css-1stuxjx {
    width: 100% !important;
  }

  .MuiBox-root .css-1ylo9ev {
    flex-direction: column !important;
  }

  .css-gg4vpm {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .MuiBox-root .css-1l4w6pd {
    display: flex;
    flex-direction: column !important;
    overflow-y: scroll !important;
  }

  .makeStyles-modalBox-26 .MuiBox-root .css-1a19dm4 {
    overflow: scroll;
  }

  .css-sp8c2n {
    height: 60vh !important;
  }

  .MuiBox-root .css-gg4vpm {
    display: flex;
    flex-direction: column;

    /* justify-content: center; */
  }

  .css-w0kdxw {
    height: 32vh !important;
  }

  /* Payslips */
  .font-payslip-dsadvcxd {
    font-size: medium !important;
    color: gray;
  }
}

/* Payslip Item */
.css-w0kdxw {
  height: 52vh !important;
}

.left-item {
  display: flex;
  align-items: center;
  font-size: medium;
  color: "#808080";
}

.main-item {
  display: flex;
  align-items: center;
}

.right-item {
  font-size: medium;
  color: "#808080";
  padding-left: 30;
  font-weight: 800;
}
